body{
    font-family: Arial;
    background:#ffe4e4;
}

.container{
    width:70%;
    margin:auto;
    background:rgba(160, 202, 200, 0.815);
    padding:20px;
    margin-top:30px;
    border-radius:10px;
}

input{
    padding:10px;
    margin:5px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

th{
    background:#5f7af1;
    color:white;
}